In [2]:
# Algorithm for a Palindrome

str = 'racecar'

print(str[0])
print(str[6])

[0] = [6]
[1] = [5]
[2] = [4]

r
r

In [7]:
def isPalindrome(str):
    startIndex = 0
    endIndex = len(str) - 1

    for x in str:
        if str[startIndex] != str[endIndex]:
            return False
    return True

isPalindrome('racecar')

True

In [ ]:
def access_element(arr, index):
    return arr[index]

In [8]:
#Pure Function

my_list = [1,2,3]

def add_to_list(lst,item):
    lst.append(item)
    return lst


add_to_list(my_list,4)

[1, 2, 3, 4]

In [10]:
my_list = [1,2,3]

def add_to_list(lst,item):
    nl = lst.copy()
    nl.append(item)
    return nl


print(my_list)
add_to_list(my_list,4)

[1, 2, 3]

[1, 2, 3, 4]

In [11]:
#Reversed string

trial = "reversal"

new_trial = trial[::-1]

new_trial

'lasrever'

In [12]:
def string_reverse(str):
    if len(str) == 0:
        return str
    else:
        return string_reverse(str[1:]) + str[0]

string_reverse('reversal')

'lasrever'

In [15]:
#Mapping

menu = ['espresso','mocha','latte','cappuccino','cortado','americano']

def find_coffee(coffee):
    if coffee[0] == 'c':
        return coffee

map_coffee = map(find_coffee,menu)
map_coffee

for x in map_coffee:
    print(x)

None
None
None
cappuccino
cortado
None

In [17]:
data = [2,3,5,7,11,13,17,19,23,29,31]

# Ex1: List comprehension: updating the same list
data = [x+3 for x in data]
print("Updating the list: ", data)

Updating the list:  [5, 6, 8, 10, 14, 16, 20, 22, 26, 32, 34]

[5, 6, 8, 10, 14, 16, 20, 22, 26, 32, 34]

In [18]:
# Ex2: List comprehension: creating a different list with updated values
new_data = [x*2 for x in data]
print("Creating new list: ", new_data)

Creating new list:  [10, 12, 16, 20, 28, 32, 40, 44, 52, 64, 68]

In [19]:
# Ex3: With an if-condition: Multiples of four:
fourx = [x for x in new_data if x%4 == 0 ]
print("Divisible by four", fourx)

Divisible by four [12, 16, 20, 28, 32, 40, 44, 52, 64, 68]

In [20]:
# Ex4: Alternatively, we can update the list with the if condition as well
fourxsub = [x-1 for x in new_data if x%4 == 0 ]
print("Divisible by four minus one: ", fourxsub)

Divisible by four minus one:  [11, 15, 19, 27, 31, 39, 43, 51, 63, 67]

In [21]:
# Ex5: Using range function:
nines = [x for x in range(100) if x%9 == 0]
print("Nines: ", nines)

Nines:  [0, 9, 18, 27, 36, 45, 54, 63, 72, 81, 90, 99]

In [22]:
# List comprehension:
data = [x+3 for x in data]

# Regular for loop:
for x in range(len(data)):
    data[x] = data[x] + 3

In [23]:
# Using range() function and no input list
usingrange = {x:x*2 for x in range(12)}
print("Using range(): ",usingrange)

Using range():  {0: 0, 1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18, 10: 20, 11: 22}

In [24]:
# Lists
months = ["Jan", "Feb", "Mar", "Apr", "May", "June", "July", "Aug", "Sept", "Oct", "Nov", "Dec"]
number = [1,2,3,4,5,6,7,8,9,10,11,12]

In [25]:

# Using one input list
numdict = {x:x**2 for x in number}
print("Using one input list to create dict: ", numdict)

Using one input list to create dict:  {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144}

In [26]:
# Using two input lists
months_dict = {key:value for (key, value) in zip(number, months)}
print("Using two lists: ", months_dict)

Using two lists:  {1: 'Jan', 2: 'Feb', 3: 'Mar', 4: 'Apr', 5: 'May', 6: 'June', 7: 'July', 8: 'Aug', 9: 'Sept', 10: 'Oct', 11: 'Nov', 12: 'Dec'}

In [27]:
set_a = {x for x in range(10,20) if x not in [12,14,16]}
print(set_a)

{10, 11, 13, 15, 17, 18, 19}

In [28]:
data = [2,3,5,7,11,13,17,19,23,29,31]
gen_obj = (x for x in data)
print(gen_obj)
print(type(gen_obj))
for items in gen_obj:
    print(items, end = " ")

<generator object <genexpr> at 0x0000020E098C5240>
<class 'generator'>
2 3 5 7 11 13 17 19 23 29 31

In [ ]:
#List comprehension
nums = [54,22,15,48,332,1265,1,664,223,156]
evens = []

In [38]:
# #Mapping

# menu = ['espresso','mocha','latte','cappuccino','cortado','americano']

# def find_coffee(coffee):
#     if coffee[0] == 'c':
#         return coffee

# map_coffee = map(find_coffee,menu)
# map_coffee

# for x in map_coffee:
#     print(x)

# Input data: List of dictionaries
employee_list = [
   {"id": 12345, "name": "John", "department": "Kitchen"},
   {"id": 12456, "name": "Paul", "department": "House Floor"},
   {"id": 12478, "name": "Sarah", "department": "Management"},
   {"id": 12434, "name": "Lisa", "department": "Cold Storage"},
   {"id": 12483, "name": "Ryan", "department": "Inventory Mgmt"},
   {"id": 12419, "name": "Gill", "department": "Cashier"}
]

# Function to be passed to the map() function. Do not change this.
def mod(employee_list):
   temp = employee_list['name'] + "_" + employee_list["department"]
   return temp

def to_mod_list(employee_list):
   """ Modifies the employee list of dictionaries into list of employee-department strings

   [IMPLEMENT ME]
      1. Use the map() method to apply mod() to all elements in employee_list

   Args:
      employee_list: list of employee objects

   Returns:
      list - A list of strings consisting of name + department.
   """
   ### WRITE SOLUTION CODE HERE
   try:
      new_map = map(employee_list,mod)
      return list(new_map)
   except:
      raise NotImplementedError()